.weatherInfo {
    color: #fff;
}

.weatherInfo h3 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 10px 0 8px;
}

.weatherInfo img {
    width: 64px;
    height: 64px;
    margin-bottom: 6px;
}

.weatherInfo p {
    margin: 2px 0;
    font-size: .95rem;
}