.forecastCard {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.forecastCard h4 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.forecastCard ul {
    list-style: none;
    padding: 0;
}

.forecastCard li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    color: #333;
}

.forecastCard li:first-child {
    border-top: none;
}

.forecastCard li img {
    margin-right: 10px;
}